:root {
   --clr-primary-300: hsl(51, 100%, 49%);
   --clr-primary-400: hsl(7, 99%, 70%);
   --clr-primary-500: hsl(168, 34%, 41%);
   --clr-primary-600: hsl(167, 40%, 24%);
   --clr-primary-700: hsl(198, 62%, 26%);

   --clr-neutral-200: hsl(0, 0%, 100%);
   --clr-neutral-300: hsl(210, 4%, 67%);
   --clr-neutral-400: hsl(232, 10%, 55%);
   --clr-neutral-500: hsl(213, 9%, 39%);
   --clr-neutral-600: hsl(212, 27%, 19%);

   --fs-base: 1.125rem;

   --ff-base: 'Barlow', sans-serif;
   --ff-heading: 'Fraunces', serif;
}

body {
   font-family: var(--ff-base);
   font-size: var(--fs-base);
}

h1, h2, h3 {
   font-family: var(--ff-heading);
}

h1, h2 {
   font-weight: 900;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a[class] {
   text-decoration: none;
}